/**
 * @fileoverview Main stylesheet
 * @author <a href='mailto:hello@robi.me'>Sébastien Robaszkiewicz</a>
 */

// Import partials
@import 'reset';
@import 'animation-mixins';
@import 'transform-mixins';
@import 'flexbox-mixins';
@import 'icons';
@import 'dot-nav';

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  background-color: #111;
  color: white;
  font-family: 'Lato', 'sans-serif';
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 1.6rem;
}

.container {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 100%;
  margin: 0rem 2rem;
}

header, footer {
  margin: 2rem 0
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.title {
  letter-spacing: 0.7rem;
  line-height: 1.3;
  margin: 1rem 0;
  text-indent: 0.7rem;
  text-transform: uppercase;
}

.instructions {
  font-family: 'Merriweather', 'serif';
  font-style: italic;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}

.loader {
  font-size: 2rem;
  letter-spacing: 1.2rem;
  text-indent: 1.2rem;
  text-transform: uppercase;
}

.button i {
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;
  font-size: 6rem;
  padding: 2rem;
}

/* Modernizr */
.touchevents {

}

.no-touchevents {

}

.soft-blink {
  @include animation('soft-blink 3.6s ease-in-out infinite');
}

@include keyframes(soft-blink) {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  html, body {
    font-size: 12px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }

  .title {
    letter-spacing: 0.9rem;
    text-indent: 0.9rem;
  }
}
